---

cluster_interface: 'eth0'
cloud_nodes_count: 3
cloud_image: {{ rax_os }}
cloud_flavor: 'performance2-15'
build_datanode_cbs: true
cbs_disks_size: 100
cbs_disks_type: 'SATA'
datanode_disks: ['xvdf','xvdg']
